{% extends 'base.html' %}

{% block title %}
    <title>Профиль пользователя</title>
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о пользователе</title>

</head>

{% block body %}


<!--    <div class="row">-->
<!--        <div class="profile-card">-->
<!--        &lt;!&ndash; Контейнер для фото и информации &ndash;&gt;-->
<!--            <div class="profile-content col-md-6 col-12">-->
<!--            &lt;!&ndash; Фото профиля &ndash;&gt;-->
<!--                <img src="static/images/i.png" width="360" height="400" class="profile-img" alt="Фото профиля">-->

<!--            &lt;!&ndash; Имя и описание &ndash;&gt;-->
<!--            <div class="profile-info col-md-6 col-12">-->
<!--                    <h2>Иван Иванов</h2>-->
<!--                    <p>I don't wanna explode in fear</p>-->
<!--            </div>-->
<!--                &lt;!&ndash; Контактная информация &ndash;&gt;-->
<!--            <ul class="contact-info col-md-6 col-12">-->
<!--                    <li><strong>Email:</strong> <a href="mailto:ivan@example.com">ivan@example.com</a></li>-->
<!--                    <li><strong>Телефон:</strong> +7 (900) 123-45-67</li>-->
<!--                    <li><strong>Профиль в LinkedIn:</strong> <a href="https://linkedin.com/in/ivan-ivanov" target="_blank">linkedin.com/in/ivan-ivanov</a></li>-->
<!--            </ul>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<h1 class="h3 mb-3 fw-normal custom-heading"> form.username.data </h1>

{% endblock %}